Package: {NAME}
Version: {VERSION}
Section: net
Priority: optional
Architecture: {ARCH}
Depends: logrotate, systemd
Build-Depends: debhelper, dh-systemd
Maintainer: Burkhard Heisen <burkhard.heisenware@heisenware.com>
Description: {SYNOPSIS}
 {DESCRIPTION}
Homepage: https://heisenware.com
