Package: {NAME}
Version: {VERSION}
Section: non-free
Priority: optional
Architecture: {ARCH}
Maintainer: Burkhard Heisen <burkhard.heisenware@heisenware.com>
Description: {SYNOPSIS}
 {DESCRIPTION}
Homepage: https://heisenware.com