[Unit]
Description={DESCRIPTION}
After=multi-user.target

[Service]
Type=exec
ExecStart=/bin/sh -c \
 '/usr/bin/{HEISENWARE_AGENT_BINARY} 2>&1 | tee -a /var/log/heisenware/{NAME}.log'
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
