name: Deploy Sphinx documentation to Pages

on:
  push:
    branches:
      - main
      - master

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          pip install sphinx_rtd_theme
      - id: deployment
        uses: sphinx-notes/pages@v3
